@font-face {
    font-family: 'Murs_Massive_Black_Italic';
    src: url(../font/MursGothicTrial-MassiveBlackItalic.otf) format(opentype);
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'Murs_Massive_Demi';
    src: url(../font/MursGothicTrial-MassiveDemi.otf) format(opentype);
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Murs_Massive_Light';
    src: url(../font/MursGothicTrial-MassiveLight.otf) format(opentype);
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Murs_Wide_Regular';
    src: url(../font/MursGothicTrial-WideRegular.otf) format(opentype);
    font-weight: 400;
    font-style: normal;
}
